<link rel="stylesheet" href="{{ css_path }}" />

<div class="wrapper">

    <!-- Sidebar -->
    <nav class="sidebar">
        <ul>
            <p>
                <a href="{{ parent_html }}">Back</a>
            </p>
            <li>
                <ul>
                    {% for dirname, lower_html in lower_dirname_html_pair %}
                        <li>
                            <a href="{{ lower_html }}">{{ dirname }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li> 

        </ul>
    </nav>


    <!-- Page Content -->
    <div class="content">

    <h1>{{title}}</h1>

    {% for figname in fignames %}
        <img src="{{ figname }}">
    {% endfor %}
    </div>
</div>    